@font-face {
    font-family: "WoodDragon";
    src: url("/static/fonts/WoodDragon.ttf");
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/static/img/background.jpg");
    background-size: cover;
}
.app_hdr_wrpr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
} 
.app_hdr_wrpr > span {
    font-size: 4rem;
    font-family: "WoodDragon";
}
.card {
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    box-shadow: #11101059 0px 5px 15px;
    background: #e9fff717;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    border: 1px solid #e8fff747 !important;
}