<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Class Encrypter</title>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="mn_wrpr">
            <div class="app-crd_cntnr">
                <div class="app-crd-cntnt_wrpr">
                    <div class="sdbr_wrpr">
                        <div class="sdbr-ttl_cntnr">
                            <span>Uploaded Files</span>
                        </div>
                        <div class="sdbr-cntnt_wrpr" id="fl-lst-cntnr">

                        </div>
                    </div>
                    <div class="evnt_cntnr">
                        <span class="app-ttl_wrpr">Class Encrypter</span>
                        <form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
                            <div class="fl-inpt-cntnr">
                                <label for="html_files">Select HTML Files:</label>
                                <input type="file" id="html_files" name="html_files" accept=".html, .php" multiple>
                            </div>
                            <div class="fl-inpt-cntnr" style="margin-bottom: 10px;">
                                <label for="css_files">Select CSS Files:</label>
                                <input type="file" id="css_files" name="css_files" accept=".css" multiple>
                            </div>
                            <input type="submit" value="Start App">
                            <!-- <input type="button" value="Start App"> -->
                        </form>
                        <div class="fl-lst" id="fl-lst"></div>
                        <div id="err-cntnr">
                            <div id="err-msg" class="err-msg"></div>
                        </div>
                    </div>
                </div>
                <div class="app-ftr_wrpr">
                    <p>&copy; 2024 Created by Uveys. All rights reserved. Thanks for visiting!</p>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>